<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Score</title>
  </head>
  <body>
    <h2>Enter Score</h2>
    <div>
      this page will have a form where you can enter a score
    </div>
  </body>
</html>